@font-face {
    font-family:RIPpaintdrips;
    src: url(TastyDrips.ttf);
}


h1 {
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size:75px;
    text-align: center;
}

span {
    font-family: 'RIPpaintdrips';
}

li {

   color: rgb(153, 153, 153);
   text-align: center;
   background-color: rgb(129, 92, 13)
   
   
}

h2 {
font-size: 50px;
}

#Headsmen {
margin-bottom:0px;
}

#ThePartWhereHeInformsYou {
color: rgb(113, 17, 192);
background-color: rgb(255, 255, 255);
}

#itwontworketh {

color: aqua;

}

button {

color: rgb(35, 247, 247);
background-color: rgb(51, 155, 155);
font-family: 'RIPpaintdrips';
font-size: 60px;
border: 15px solid rgb(40, 40, 141);
border-radius: 5px;


}
